@model FireTest.Models.RichTextEditorViewModel
@{
    ViewBag.Title = "AddParagraph";
}
@Styles.Render("~/Content/administrator")
@Styles.Render("~/Content/wysiwyg")
@using (Html.BeginForm("AddParagraph", "Teacher", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="substrate">
        @Html.TextAreaFor(m => m.Message, new { @class = "textarea-editor" })
    </div>
    <div class="row">
        <input type="submit" class="button center" value="Сохранить" id="Answer" />
    </div>
}
@section Scripts
{
    @Scripts.Render("~/bundles/wysiwyg")
    <script>
        $('.textarea-editor').summernote({
            minHeight: null,
            maxHeight: null,
            focus: true,
            height: 600,
            lang: 'ru-RU'
        });
    </script>
}